@define-color BASE   black;
@define-color TEXT   white;
* {
    border: none;
    font-family: JetBrains Mono;
}
#window{
	background-color: @BASE;
	margin: 0px;
	margin-right: 9px;
	font-size: 11px;
	color: @TEXT;
}
window#waybar {
	background-color: @BASE;
    color: #dfbf8e;
}

#workspaces {
	background-color: @BASE;
	margin-left: 0px;
	margin-right:50px;
}
#workspaces button {
    color: @TEXT;
    margin: 0px;
    padding-left:9px;
    padding-right:9px;
    padding-top:0px;
    padding-bottom:0px;
    font-size: 14px;
}

#workspaces button.focused {
    color: @BASE;
    background-color: @TEXT;
    margin: 0px;
}

#workspaces button:hover {
	background-color: @TEXT;
	color: @BASE;
	margin: 0px;
}

#custom-wallpaper,#custom-date, #cpu, #memory, #clock, #battery, #pulseaudio, #network {
	color: @TEXT;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	font-size: 12px;
}


#custom-power {
	color: @BASE;
	background-color: @TEXT;
	margin-right: 5px;
	margin-left: 0px;
	padding-left:5px;
	padding-right:9px;
	border-radius: 5px;
}
#memory {
    	background-color: @BASE;
}
#cpu {
	background-color: @BASE;
}

#clock {
    background-color: @BASE;
    margin-right: 10px;
}

#network {
    background-color: @BASE;
	border-radius: 5px 0px 0px 5px;
}
#tray {
	background-color: @BASE;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: @TEXT;
}
