@import "tokyonight.css";
@define-color BASE   #222526;
@define-color TEXT   #d9a25a;
* {
    border: none;
    font-family: JetBrains Mono;
}
#window{
	background-color: @BASE;
	margin: 0px;
	margin-right: 9px;
	font-size: 11px;
	color: @TEXT;
}
window#waybar {
    background: #222526;
    color: #dfbf8e;
}

#workspaces {
	background-color: @BASE;
	margin-left: 0px;
	margin-right:50px;
}
#workspaces button {
    color: @TEXT;
    margin: 0px;
    padding-left:9px;
    padding-right:9px;
    padding-top:0px;
    padding-bottom:0px;
    font-size: 14px;
}

#workspaces button.focused {
    color: @BASE;
    background-color: @TEXT;
    margin: 0px;
}

#workspaces button:hover {
	background-color: @SLATE_500;
	color: @SILVER_500;
	margin: 0px;
}

#custom-wallpaper,#custom-date, #cpu, #memory, #clock, #battery, #pulseaudio, #network {
	color: @TEXT;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
	font-size: 12px;
}

#custom-date {
	color: @LIME_900;
}

#custom-power {
	color: @BASE_100;
	background-color: @STRAWBERRY_700;
	margin-right: 10px;
	margin-left: 0px;
}
#memory {
    	background-color: @BASE;
}
#cpu {
	background-color: @BASE;
}

#clock {
    background-color: @BASE;
    margin-right: 10px;
}

#battery {
    background-color: @BASE;
}

#battery.charging {
    background-color: @STRAWBERRY_900;
}

#battery.warning:not(.charging) {
    background-color: @STRAWBERRY_900;
}

#network {
    background-color: @BASE;
	border-radius: 5px 0px 0px 5px;
}
#tray {
	background-color: @BASE;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: @TEXT;
}
#pulseaudio {
    background-color: @BASE;
}
