@define-color BASE   black;
@define-color TEXT   white;
* {
    border: none;
    font-family: JetBrains Mono;
    margin: 0px;
    font-size: 11px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
    margin-bottom:0px;
}
#window{
	background-color: @BASE;
	color: @TEXT;
}
window#waybar {
	background-color: @BASE;
}

#workspaces {
	background-color: @BASE;
}
#workspaces button {
    color: @TEXT;
    margin-left: 1px;
    padding-left:4px;
    padding-right:4px;
}

#workspaces button.focused {
    color: @BASE;
    background-color: @TEXT;
    margin-left: 1px;
    padding-left:4px;
    padding-right:4px;
}

#workspaces button:hover {
	background-color: @TEXT;
	color: @BASE;
	margin-left: 1px;
	padding-left:4px;
	padding-right:4px;
}

#custom-wallpaper,#custom-date, #cpu, #memory, #clock, #battery, #pulseaudio, #network {
	font-size: 10px;
	color: @TEXT;
	padding-left:4px;
	padding-right:4px;
}
#clock{
	margin-right:5px;
}
#custom-exit,#custom-lock,#custom-reboot,#custom-poweroff,#custom-exitsway
{
	color: @BASE;
	background-color: @TEXT;
	margin-right:2px;
	padding-left:5px;
	padding-right:9px;
	border-radius: 5px;
}

#custom-power {
	color: @BASE;
	background-color: @TEXT;
	margin-right: 5px;
	margin-left: 0px;
	padding-left:5px;
	padding-right:0px;
	border-radius: 5px;
}
#memory {
    	background-color: @BASE;
}
#cpu {
	background-color: @BASE;
}

#clock {
    background-color: @BASE;
}

#network {
    background-color: @BASE;
}
#tray {
	background-color: @BASE;
	color: @TEXT;
	margin-right: 5px;
}
